.title {
  grid-row: header;

  text-align: center;
  line-height: 56px;

  background-color: #c9bbed;
}

.container {
  grid-row: body;
  display: flex;
  flex-direction: column;
}

.run {
  width: 10%;
  align-self: center;
}

.nodeContainer {
  /* border: 1px solid crimson; */
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(50, 30px);
  grid-auto-rows: 30px;
}

.node {
  border: 1px solid #e6e4f0;
  border-right: 0px;
  border-bottom: 0px;
  width: 30px;
}

.row--end {
  border-right: 1px solid #e6e4f0;
}

.col--end {
  border-bottom: 1px solid #e6e4f0;
}

.start {
  background-color: #eb8dde;
}

.end {
  background-color: #f7c648;
}

[data-visited="true"] {
  background-color: #fae9de;
}

[data-path="true"] {
  background-color: #c9bbed;
}
